<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="preload" type="text/css" href="/app.css" />
    <link rel="preconnect" type="text/css" href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2:700&display=swap&text=Amida Blog:" />
    <link rel="preconnect" type="text/css" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:700&display=swap&text=あみぶろ" />
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script
      type="text/javascript"
      src="/<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"
      defer
    ></script>
    <% } %>
    <link rel="stylesheet" type="text/css" href="/app.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2:700&display=swap&text=Amida Blog:" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:700&display=swap&text=あみぶろ" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
